/* body {
    background-image: url(img/projek/7.webp);
}
.navigasi {
    background-image: url(img/projek/8.webp);
}
.container {
    color: black;
} */
.jumbotron {
    padding-top: 6rem;
    background-color: #72c6e7;
}
section {
    padding-top: 5rem;
}